<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM_Suite" verbose="1">

    <test name="LoginTestRun">
        <classes>
            <class name="Tests.LoginTest"/>
                 </classes>
    </test>

    <test name="PimTestRun">
        <classes>
            <class name="Tests.pimTest"/>
        </classes>
    </test>

    <test name="LeaveTestRun">
        <classes>
            <class name="Tests.leaveTest"/>
        </classes>
    </test>

</suite>